.section__title {
  @extend %section-title-text;
  color: $color-secondary-dark;
  text-align: center;
  font-weight: 700;
  margin: 0 auto;
  margin-bottom: 64px;

  &::after {
    @include pseudo;
    height: 3px;
    width: 60px;
    background-color: #f38181;
    margin: 0 auto;
    margin-top: 40px;
  }
}

.section__title--cursive {
  @extend %Kaushan_Script;
  color: $color-secondary-dark;
  margin-bottom: 20px;
}
.section__subtitle{
  text-align: center;
  margin: 0 auto;
  margin-bottom: 82px;
}